body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    overflow: hidden;
    width: 80%;
    max-width: 800px;
}

.form-container, .image-container {
    flex: 1;
    padding: 40px;
}

.form-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container {
    background-image: url('../image/p1.jpg');
    background-size: cover;
    background-position: center;
}

input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 80%;
    margin: 10px auto;
    color: #000;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 20px auto;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    width: 50%;
}

button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    white-space: pre-line;
}
